.mobile-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    height: 83px;
    padding: 0 20px;
    z-index: 1;
    box-shadow: 0 0 13px 1px #e9101026;
}

#menu-close {
    all: unset;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

#menu-toggle {
    position: sticky;
    all: unset;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.menu-items {
    display: none;
    position: fixed;
    top: 0;
    box-shadow: -3px 0 5px 1px #acacac3d;
    left: 96%;
    bottom: 0;
    width: 60%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
}

.menu-items.active {
    display: block;
    left: auto;
}





/* section theme */


.top-banner,
.box-feature,
.box-icons,
.Generate,
.list-post,
.sectionf {
    flex-direction: column;
}

.top-banner .image-left,
.content,
.tab-nlp,
.box-icons .box,
.Generate .content-Generate,
.content-choose .title-choose,
.choose-use .content-choose,
.Generate .title-Generate,
.Generate .img-Generate,
footer .dec,
.content-integrates {
    width: 100%;
}

.image-right,
#tab-image,
.img-choose,
.icons-integrates {
    display: none;
}

.customer-logo .list-logo {
    flex-direction: column;
    max-width: 238px;
}

.progressbar,
.btnabouts {
    justify-content: center;
}

header .btn-header {
    display: none;
}

.top-banner {
    margin-top: 0;
}

.logo img[alt="logo"] {
    width: 150px;
    height: 59px;
}

nav ul {
    margin-top: 10px;
}

nav ul li {
    text-align: right;
    display: block;
}

.chatbot {
    padding: 0 1rem;
}

.box-features {
    max-width: 538px;
}

footer,
footer .menu-footer,
footer .menu-footer ul li {
    text-align: center;
}

.blog .title {
    padding: 0 30px;
}

footer .menu-footer {
    margin-right: 0;
}

.eb-progress-bar {
    width: 6rem;
    height: 6rem;
    font-size: 15px;
}

.Generate {
    margin-top: 10px;
}

.chatbot .title {
    width: 50%;
}

.chatbot p {
    padding: 0 1rem;
}

.nlp-contentimg {
    display: block;
}

.img-Generate img[alt="robot"] {
    width: 340px;
}

.input-search button {
    padding: 5px 10px;
}

header {
    padding: 0 10px;
}

.choose-use .content-choose {
    padding: 0 2rem;
}

.Generate .content-Generate {
    padding: 0 2rem;
}

.box-icons {
    margin-right: 0;
}

.btnabout {
    padding: 10px 22px;
}

.bottom-footer {
    flex-direction: column;
    justify-content: center;
}

.logo-footer {
    text-align: center;
}

.content-integrates,
.integrates-section {
    padding: 1rem;
}

.background-left {
    display: none;
}

.login .form {
    width: 100%;
}

.login .section-form form {
    flex-direction: column;
}

.login .section-form form input[type="submit"] {
    margin-top: 20px;
}

.send-form-contact {
    flex-direction: column;
    margin-top: 3rem;
}

.send-form-contact .map iframe {
    width: 336px;
    height: 344px;
}

.send-form-contact .form .dec-form {
    width: 100%;
}

.send-form-contact .map {
    padding: 8px;
    margin: 0 auto;
}

.Our-communication-ways {
    flex-direction: column;
}

.box-communication {
    width: 100%;
    margin: 10px 0
}

.content-contact {
    padding: 20px;
}

.content-shop {
    padding: 98px 19px 99px 0 !important;
}

.shop {
    flex-direction: column;
}

.shop .side {
    width: 100%;
}
.shop .section-prodcut{
    width: 100%;
    padding:  0 20px;
}
.shop .section-prodcut .header-fillter #sort{
    width: 41%;
}
.shop .box-prodcut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product,.product .product_ma_images,.buttonbttomcart{
    flex-direction: column;
}
.image-primery img{
    width: 352px;
    height: 400px;
}
.product .info_product{
    width: 100%;
}
.product .product_ma_images{
    width: 100%;
}
#tab2 .review{
    flex-direction: column;
}
#tab2 .review .text{
    margin: 10px;
}
#tab2 .review .text .commentandstar{
    flex-direction: column;
}
.formsend form input{
    width: 90%;
}
.blog-columns .post{
    width: 93.3333%;
}
.sidebarpage,.sidebarblogpost .post{
    flex-direction: column;
}
.sidebarside,.sidebarblogpost   {
    width: 100%;
}
.sidebarblogpost .post .images{
    width: 319px;
}
.Driven{
    flex-direction: column;
    padding: 0 10px;
}
.images-driven img{
    height: 200px;
    margin-top: 20px;
}
.prosesbar{
    width: 286px;
}
.Driven .content-driven{
    width: 100%;
}
.countbox{
    flex-direction: column;
}
.page-404{
    flex-direction: column;
    padding: 0;
    text-align: center;
}
.eb-progress-bar-wrapper {
    padding: 3px;
}
.post{
    width: 99%;
    padding: 5px;
    margin: 0;
}
.dropdown{
    display: block;
}
.dropdown:hover .dropdown-menu{
    width: 217px;
}
.images-personalize{
    display: none;
}
.personalizedconversations .content-text{
    width: 100%;
}
.box-workflow{
    width: 80%;
}
.transformation{
    padding: 10px 0px 10px 0px;
}
.logofe .title{
    width: 311px;
}
.dropdown-menu a{
    width: 135%;
}
.product_ma_images .imaage-side{
    display: flex;
}
.tab_product{
    padding: 0;
}
